.customCursor{
    cursor: pointer;
}
/*** pagination button style add ***/
.pagination button{display:inline-block;position:relative;margin:0 14px;color:#666;font-size:15px;line-height:25px;vertical-align:top;border: 0;outline: 0;;}
.pagination button.active{color:#065b89;font-weight:700}
.pagination button.active:after{content:'';position:absolute;right:0;bottom:2px;left:0;height:1px;background-color:#c2c2c2}
.customActiveHeader{
    color:#065b89 !important; font-weight:700 !important;
}
/*** board row rollover ***/
tr.tableRow:hover { background-color: #e9f0f3; cursor: pointer }
.tableMinHeight {height:500px;}
.customMenuLv2{
background-image: url("../images/common/tab_btn_next_D.png");
background-repeat: no-repeat;
background-position: right 5% center;
}
/*** .customAfter{content:'';position:absolute;top:50%;right:10px;width:17px;height:17px;margin-top:-9px;border-radius:50%;background-color:#ccc;background-image:url(../images/common/arr_lnb.png);background-repeat:no-repeat;background-position:50% 50%}
***/
.menuCursor
{
	cursor: pointer;
}
.tab-header
{
	display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
}
.tab-pageHeader-a
{
	display: inline-block;
    position: relative;
}
.tab-pageHeader-span-first
{
	position: absolute;
    top: 23%;
    left: 44%;
}
.tab-pageHeader-span
{
	position: absolute;
    top: 21%;
    left: 39%;
}
.tap-icon01
{
	display: inline-block;width: 10px;height: 10px;font-size: 20px;line-height: 16px;
}
.tap-icon02
{
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
    float: right;
    left: 180%;
    top: 5%;
}